.tabs {
    font-size: 14px; 
}

.tabs-bar::after {
    content: '';
    display: block;
    width: 100%;
}

.tabs-tab {
    display: inline-block;
    padding: 4px 16px;
    margin-right: 6px;
    background: #fff;
    border: solid 1px #d7dde4;
    cursor: pointer;
    position: relative;
}

.tabs-tab-active {
    color: #3399ff;
    border-top:1px solid #3399ff;
    border-bottom: 1px solid #fff;
}

.tabs-tab-active::before {
    content: '';
    display: block;
    background: #3399ff;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}